{{> menu}}
<div class="content">
    <h1>Limbo ({{users.length}})</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Fecha Ingreso</th>
          <th scope="col">Fecha ultimo mensaje</th>
          <th scope="col">Ultimo acceso a servidor</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
            <tr>
              <td scope="row">{{this.id}}</td>
              <th>{{this.username}}</th>
              <td>{{this.joinDate}}</td>
              <td>{{this.lastTextChannelDate}}</td>
              <td>{{this.lastServerId}} - {{this.lastServerAccess}} - {{this.lastServerAccessIp}}</td>
            </tr>
        {{/each}}
      </tbody>
    </table>
</div>