<style>
    table {
        font-size: small;
        border: 1px solid
    }

    th.normal, td.normal {
        text-align: center;
        border: 1px solid #000000;
    }
    th.terrains, td.terrains {
        text-align: center;
        border: 1px solid #000000;
        background-color:rgba(0, 174, 255, 0.775);
    }
    th.jets, td.jets {
        text-align: center;
        border: 1px solid #000000;
        background-color:rgba(0, 255, 64, 0.816);
    }
    th.warbirds, td.warbirds {
        text-align: center;
        border: 1px solid #000000;
        background-color:rgba(255, 145, 0, 0.809);
    }
    th.helis, td.helis {
        text-align: center;
        border: 1px solid #000000;
        background-color:rgba(255, 89, 0, 0.789);
    }
    th.others, td.others {
        text-align: center;
        border: 1px solid #000000;
        background-color:rgba(255, 217, 0, 0.755);
    }
    .table-fixed {
        width: 100%;
    }
    .table-fixed thead {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 999
    }
    .table-fixed thead th {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 999;
    }

</style>
{{> menu}}
<div class="content">
    <h1>Modules (Magios, Newjoiner) ({{users.length}})</h1>
    <table class="table table-striped table-fixed">
      <thead>
        <tr>
          <th scope="col"></th>
          <td scope="col"></td>
          {{#each terrains}}
            <th class="terrains" scope="col">{{this}}</th>
          {{/each}}
          {{#each jets}}
            <th class="jets" scope="col">{{this}}</th>
          {{/each}}
          {{#each warbirds}}
            <th class="warbirds" scope="col">{{this}}</th>
          {{/each}}
          {{#each helis}}
            <th class="helis" scope="col">{{this}}</th>
          {{/each}}
          {{#each others}}
            <th class="others" scope="col">{{this}}</th>
          {{/each}}
          <th scope="col"></th>
          <td scope="col"></td>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
            <tr>
                <td class="normal"><img class="rounded-circle" width="30" src="https://cdn.discordapp.com/avatars/{{this.id}}/{{this.avatar}}"></td>
                <td class="normal"><b>{{this.username}}</b></td>
                
                <td class="terrains">{{#if this.terrains_0}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="terrains">{{#if this.terrains_1}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="terrains">{{#if this.terrains_2}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="terrains">{{#if this.terrains_3}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="terrains">{{#if this.terrains_4}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>

                <td class="jets">{{#if this.jets_0}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_1}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_2}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_3}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_4}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_5}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_6}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_7}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_8}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_9}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_10}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_11}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_12}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_13}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_14}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_15}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_16}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_17}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_18}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_19}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_20}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_21}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="jets">{{#if this.jets_22}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>

                <td class="warbirds">{{#if this.warbirds_0}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="warbirds">{{#if this.warbirds_1}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="warbirds">{{#if this.warbirds_2}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="warbirds">{{#if this.warbirds_3}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="warbirds">{{#if this.warbirds_4}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="warbirds">{{#if this.warbirds_5}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="warbirds">{{#if this.warbirds_6}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="warbirds">{{#if this.warbirds_7}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>

                <td class="helis">{{#if this.helis_0}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="helis">{{#if this.helis_1}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="helis">{{#if this.helis_2}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="helis">{{#if this.helis_3}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="helis">{{#if this.helis_4}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="helis">{{#if this.helis_5}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>

                <td class="others">{{#if this.others_0}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="others">{{#if this.others_1}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="others">{{#if this.others_2}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="others">{{#if this.others_3}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="others">{{#if this.others_4}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>
                <td class="others">{{#if this.others_5}}<image width="20" src="/images/green.png">{{else}}<image width="20" src="/images/red.png">{{/if}}</td>

                <td class="normal"><b>{{this.username}}</b></td>
                <td class="normal"><img class="rounded-circle" width="30" src="https://cdn.discordapp.com/avatars/{{this.id}}/{{this.avatar}}"></td>
            </tr>
        {{/each}}
      </tbody>
    </table>
</div>
