{{> menu}}
<div class="content">
    <h1>No role ({{users.length}})</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Discord ID</th>
          <th scope="col">Username</th>
          <th scope="col">Join date</th>
          <th scope="col">Last message date</th>
          <th scope="col">Last server access</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
            <tr>
              <td scope="row">{{this.id}}</td>
              <th>{{this.username}}</th>
              <td>{{this.joinDate}}</td>
              <td>{{this.lastTextChannelDate}}</td>
              <td>{{this.lastServerId}} - {{this.lastServerAccess}} - {{this.lastServerAccessIp}}</td>
            </tr>
        {{/each}}
      </tbody>
    </table>
</div>