{{> menu}}
<div class="content">
    <h1>{{title}} ({{users.length}})</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Discord ID</th>
          <th scope="col">Username</th>
          <th scope="col">Join date</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
            <tr data-bs-toggle="modal" data-bs-target="#modalForm" 
              data-bs-user-id="{{this.id}}" 
              data-bs-user-name="{{this.username}}"
              data-bs-user-avatar="https://cdn.discordapp.com/avatars/{{this.id}}/{{this.avatar}}"
              data-bs-user-joinDate="{{this.joinDate}}"
              data-bs-user-roles="{{this.roles}}"
              data-bs-user-lastTextChannelDate="{{this.lastTextChannelDate}}"
              data-bs-user-lastServerAccess="{{this.lastServerAccess}}"
              data-bs-user-lastServerId="{{this.lastServerId}}"
              data-bs-user-lastServerAccessIp="{{this.lastServerAccessIp}}"
              data-bs-user-lastTextChannelName="{{this.lastTextChannelName}}"
              >

              <td><img class="rounded-circle" width="30" src="https://cdn.discordapp.com/avatars/{{this.id}}/{{this.avatar}}"></td>
              <td scope="row">{{this.id}}</td>
              <th>{{this.username}}</th>
              <td>{{this.joinDate}}</td>
            </tr>
        {{/each}}
      </tbody>
    </table>
</div>

<!-- Modal -->
{{> user-detail}}
